<!doctype html>
<html lang="en" ng-app="partytube">
<head>
  <meta charset="utf-8">
  <title>partytube - YouTube app for internet-powered parties</title>
  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
  <div id="wrapper" ng-controller="SearchCtrl">
    <input type="text" ng-model="query" ng-init="searchAfterTimeout(0)" placeholder="Search YouTube" />

    <div>
      <div class="search-result col-md-3" ng-repeat="item in result.items">
        <a ng-click="addToQueue(item)">
          <img ng-src="{{ item.snippet.thumbnails.high.url }}" alt="{{ item.snippet.description }}" />
          <span class="title-container"><span>{{ item.snippet.title }}</span></span>
        </a>
      </div>
    </div>
  </div>

  <div ng-controller="QueueCtrl">
    <ul class="menu">
      <li>Queue: {{ queue.length }}</li>
      <li ng-show="player.current !== null">NOW PLAYING: {{ player.current.title }}</li>
      <li ng-show="player.current !== null"><a href="" ng-click="skip()">skip</a></li>
      <li ng-show="queue.length > 0"><a href="" ng-click="skipAndPlayLater()">skip and play later</a></li>
    </ul>

    <div>
      <div youtube-player></div>
    </div>

    <ul>
      <li ng-repeat="video in queue">
        {{ video.title }}
      </li>
    </ul>
  </div>

  <script src="lib/jquery/jquery.js"></script>
  <script src="lib/bootstrap/bootstrap.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-resource.js"></script>

  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/resources.js"></script>
</body>
</html>
